*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --bg:#f3f5f9;
  --card:#ffffff;
  --text:#0f172a;
  --muted:#64748b;
  --primary:#2563eb;
}

[data-theme="dark"]{
  --bg:#0f172a;
  --card:#1e293b;
  --text:#e5e7eb;
  --muted:#94a3b8;
  --primary:#60a5fa;
}

body{
  background:var(--bg);
  color:var(--text);
  transition:.3s;
}
